.navbar {
    background-color: #1a252f !important;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    transition: height 0.3s;
}

.icon-bars {
    display: none;
}

.nav-link.active {
    color: #1abc9c !important;
    border-bottom: 2px solid #1abc9c;
}

.home {
    background-color: #1abc9c !important;
    height: 120vh;
    padding-top: 220px;
    padding-bottom: 100px !important;
}

.img-profile {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.profile {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.home-title {
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fff;
    display: inline-block;
}

.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.portfolio-img {
    height: 40vh;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.portfolio-img img {
    height: 40vh;
    object-fit: cover;
}

.portfolio-title {
    color: #2C3E50;
    opacity: 1;
}

.portfolio-hr {
    width: 10%;
    border: 2px solid #2C3E50;
    opacity: 1;
}

.card {
    border-radius: 30px;
}

.about {
    background-color: #1abc9c;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-hr {
    width: 10%;
    border: 2px solid #fff;
    opacity: 1;
}

.about-content p {
    text-align: justify;
    line-height: 2;
}

.btn-outline-primary {
    color: #fff;
    border: 2px solid #fff;
    width: 100%;

}

.btn-outline-primary:hover {
    background-color: #2C3E50;
    border: none;
    width: 100%;
}

.contact {
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-send:hover {
    background-color: #1abc9c;
    border: none;
}

.btn-send {
    background-color: #2C3E50;
    border: none;
}

.footer {
    background-color: #2C3E50;
    padding-top: 100px;
    padding-bottom: 100px;
}

.list-footer {
    list-style: none;
}

.social-link {
    color: #fff;
    border-radius: 100%;
    padding: 8px 11px;
    border: 1px solid #fff;
    margin-right: 15px;
}

.social-link:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.copyright {
    background-color: #1a252f;
    height: 10vh;
}

.list-footer {
    margin-left: -30px;
}

.discord, .whatsapp {
    cursor: pointer;
}

.adresse span {
    margin-left: 10px;
}

.description-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.carousel-item {
    max-height: 70vh;
    overflow: hidden;
}

.carousel-img {
    max-height: 70vh;
    object-fit: cover;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(56%) sepia(68%) saturate(1654%) hue-rotate(123deg) brightness(93%) contrast(92%);
}

.technologie-content {
    margin-left: 30px;
}

.resume, .description p {
    text-align: justify;
}

.description {
    margin-right: 30px;
}

.introduction, .title, .conclusion {
    margin-left: 20px;
}

.resume2 {
    display: none;
}


@media screen and (max-width: 1000px) {
    .home-title {
        font-size: 1.5rem !important;
    }

    .home-job {
        font-size: 1.2rem;
    }

    .icon-bars {
        margin-right: 20px;
        display: block;
    }

    .home {
        padding-top: 5rem !important;
        height: 90vh !important;
    }

    .about-btn {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .resume2 {
        display: block;
        margin-left: 1rem;
    }

    .resume {
        display: none;
    }

}

@media screen and (width: 768px) {
    .home {
        height: 60vh !important;
    }
}

@media screen and (width: 820px) {
    .home {
        height: 60vh !important;
    }
}

@media screen and (width: 912px) {
    .home {
        padding-top: 10rem !important;
        height: 60vh !important;
    }
}
